@page "/form-testing"

@using System.ComponentModel.DataAnnotations

<h3>FormTesting</h3>

@using Microsoft.AspNetCore.Components.Forms
@using Blazored.FluentValidation
@using FluentValidation

<div class="mt-4" style="margin: 0 auto;">
    <TelerikForm Model="@MyModel" Columns="3" ColumnSpacing="25px" EditContext="@EditContext">
        <FormValidation>
            <FluentValidationValidator Validator="@Validator"></FluentValidationValidator>
        </FormValidation>
    </TelerikForm>

    <TelerikCard>

    </TelerikCard>
</div>

@code {
    public EditContext EditContext {get; set; }
    public Person MyModel { get; set; } = new Person();
    public PersonValidator Validator { get; set; } = new PersonValidator();

    protected override void OnInitialized()
    {
        EditContext = new EditContext(MyModel);
        base.OnInitialized();
    }

    public class Person
    {
        public int Id { get; set; }
        public string FirstName { get; set; }
        public string LastName { get; set; }
    }

    public class PersonValidator : AbstractValidator<Person>
    {
        public PersonValidator()
        {
            RuleFor(customer => customer.Id).NotEmpty();
            RuleFor(customer => customer.FirstName).NotEmpty().MaximumLength(50);
            RuleFor(customer => customer.LastName).NotEmpty().MaximumLength(50);
        }
    }
}
